@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #222430;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
      padding-right: 10px;
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 11px 10px 9px 8px;
  text-decoration: none;
  color: #efefef;
  margin-top: 7px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.active{
      color: red;
      border-bottom: 1px solid red;
}
.brdrBtn{
      border:1px solid red;
}
.F-Sec{
      background-color: #222430;
}
.P-Sec{
      color: #fff;
      padding-top: 125px;
      padding-left: 120px;
      padding-bottom: 20px;
      font-size: 25px;
      font-family: 'Ubuntu Condensed', sans-serif;
}
.C-Sec{
      padding-left: 120px;
      padding-bottom: 20px;
      font-size: 100px;
      font-family: 'Inconsolata', monospace;
      background: linear-gradient(to right, #ff3300 , #ff5900 , #ff7300 , #ffbf00);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}
.C2-Sec{
      font-size: 25px;
      font-family: 'Ubuntu Condensed', sans-serif;
      color: #fff;
      padding-left: 120px;
      padding-bottom: 20px;
}
.button{
      background-color: #3f4045;
      text-align: center;
      padding: 15px 20px;
      border:1px solid #3f4045;
      padding-left: 15px 20px;
      margin-left: 120px;
      color: #fff;
      font-family: 'Ubuntu Condensed', sans-serif;
}
.button:hover{
      border:2px solid #ff4c00;
      font-family: 'Ubuntu Condensed', sans-serif;
}
.PA-sec{
      font-size:30px;
      font-family: 'Ubuntu Condensed', sans-serif;
      color: #fff;
      padding-left: 120px;
      padding-top: 60px;
      padding-bottom: 12px;
}